/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* GENERAL STYLES */

body {
	background: #f5f5f5;
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
	color: #111;
	-webkit-font-smoothing: antialiased;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;

	-webkit-transition: color 0.1s ease-in-out;
	-moz-transition: color 0.1s ease-in-out;
	-ms-transition: color 0.1s ease-in-out;
	-o-transition: color 0.1s ease-in-out;
	transition: color 0.1s ease-in-out;
}

a:hover {
	cursor: pointer;
}

.wrapper {
	width: 962px;
	margin: 0 auto;
}

.container {
	width: 962px; /* 2px for border-box */
	border: 1px solid #e2e2e2;
	border-top: 0;
	overflow: hidden;
	background: white;
	margin-top: 60px;
}

p {
	margin: 0;
	font-size: 14px;
}

/* HEADER & NAVIGATION */

header {
	height: 60px;
	background: #111;
	overflow: auto;
	font-size: 16px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
}

nav {
	overflow: auto;

	-webkit-transition: 0.5s all ease-in-out;
	-moz-transition: 0.5s all ease-in-out;
	-ms-transition: 0.5s all ease-in-out;
	-o-transition: 0.5s all ease-in-out;
	transition: 0.5s all ease-in-out;
}

nav ul {
	color: white;
	text-align: center;
	margin: 0;
	margin-left: 1px; /* Center with 2px border */
	padding: 0;
	float: left;
}

nav ul li {
	display: block;
	line-height: 60px;
	width: 160px;
	float: left;
	color: #a6a6a6;
	cursor: pointer;
}

nav ul li a {
	display: block;
	width: 100%;
	height: 100%;
	color: #a6a6a6;

	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

nav ul li a:hover {
	color: white;
}

nav ul li img {
	opacity: .5;

	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

/* SLIDER */

.slider {
	height: 450px;
	width: 960px;
	position: relative;
	overflow: auto;

	-webkit-transition: 0.5s opacity ease-in-out;
	-moz-transition: 0.5s opacity ease-in-out;
	-ms-transition: 0.5s opacity ease-in-out;
	-o-transition: 0.5s opacity ease-in-out;
	transition: 0.5s opacity ease-in-out;
}

.slider ul {
	margin: 0;
	padding: 0;
}

.slider li {
	list-style: none
}

.slider ul li {
	float: left;
}

.slider ul li img {
	width: 960px;
	height: 450px;
}

.dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
	padding: 0;
	margin: 0;
	text-align: center;
}

.dots li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 4px;
	background: white;
	text-indent: -999em;
	border-radius: 6px;
	cursor: pointer;
	opacity: .4;
	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
}

.dots li.active {
	background: #fff;
	opacity: 1;
}

/* Content */

.intro {
	border-top: 1px solid #e2e2e2;
	padding: 20px;
}

.intro p {
	font-size: 18px;
	font-weight: bold;
}

.content-box {
	width: 320px;
	height: 220px;
	padding: 20px;
	background: white;
	border: 1px solid #e2e2e2;
	border-bottom: none;
	border-left: none;
	float: left;

	-webkit-transition: 0.5s opacity ease-in-out;
	-moz-transition: 0.5s opacity ease-in-out;
	-ms-transition: 0.5s opacity ease-in-out;
	-o-transition: 0.5s opacity ease-in-out;
	transition: 0.5s opacity ease-in-out;
}

.content-box p {
	color: #666;
}

.content-box a:hover {
	color: #111;
}

.content-box h3 {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	font-size: 16px;
}

.last-box {
	border-right: 0;
	width: 320px;
}

/* Footer */

footer {
	margin: 10px 0 20px 0;
	padding: 10px;
	font-size: 12px;
	overflow: auto;
	text-align: center;
}

footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
	margin-bottom: 20px;
}

footer ul li {
	display: inline;
	margin-right: 15px;
}

footer ul li a {
	color: #666;
}

footer ul li a:hover {
	color: #111;
}

footer small {
	color: #a6a6a6;
	text-align: center;
}

/* Sections */

.sections-nav {
	overflow: auto;
	width: 960px;
	height: 187px;
	position: fixed;
	top: 60px;
	background-color:rgba(255,255,255,0.9);
	outline: 1px solid #e2e2e2;
}

.section {
	width: 100px;
	height: 162px;
	margin-top: 25px;
	margin-left: 112px;
	text-align: center;
	float: left;
	cursor: pointer;
	opacity: 0.5;

	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.section-last {
	margin-right: 112px;
}

.section p {
	font-size: 16px;
	color: #a6a6a6;
	margin-top: 15px;

	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.section img {
	width: 90px;
	margin-top: 5px;
	margin-bottom: 20px;

	-webkit-transition: all 90ms ease-in-out;
	-moz-transition: all 90ms ease-in-out;
	-ms-transition: all 90ms ease-in-out;
	-o-transition: all 90ms ease-in-out;
	transition: all 90ms ease-in-out;
}

.section-image-container {
	height: 100px;
}

/* Collections */

.collection-header {
	height: 202px;
	overflow: auto;
	border-bottom: 1px solid #e2e2e2;
	border-top: 1px solid #e2e2e2;
	text-align: center;
	clear: both;
	top: 100px;
}

.collection-header h3 {
	line-height: 200px;
	font-size: 50px;
	font-weight: 100;
	color: white;
	margin: 0;
	padding: 0;
}

#hampton-header {
	background: url('../img/header-hampton.jpg');
}

#manhattan-header {
	background: url('../img/header-manhattan.jpg');
}

#paris-header {
	background: url('../img/header-paris.jpg');
}

#vancouver-header {
	background: url('../img/header-vancouver.jpg');
}

.item {
	width: 190px;
	height: 190px;
	background: #f5f5f5;
	float: left;
	margin-left: 40px;
	margin-top: 40px;
}

.last-row {
	margin-bottom: 40px;
}

/* Features */

.material {
	border-top: 1px solid #e2e2e2;
	padding: 40px 0 0 90px;
	overflow: auto;
}

.material-info {
	width: 400px;
	float: left;
}

.material-info h4 {
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	margin-bottom: 30px;
}

.material-info p {
	color: #666666;
	font-size: 14px;
	line-height: 1.6;
	margin-bottom: 20px;
}

.material-image {
	width: 400px;
	float: right;
}

.material-alt {
	border-top: 1px solid #e2e2e2;
	padding: 40px 90px 0 0;
	overflow: auto;
}

.material-info-alt {
	width: 400px;
	float: right;
}

.material-image-alt {
	width: 400px;
	float: left;
}

.material-info-alt h4 {
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	margin-bottom: 30px;
}

.material-info-alt p {
	color: #666666;
	font-size: 14px;
	line-height: 1.6;
	margin-bottom: 20px;
}

.last-text {
	margin-bottom: 40px !important;
}

/* Pop Up */

#overlay {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:rgba(0,0,0,0.7);
	overflow:hidden;
	z-index:999;
	cursor:pointer;
	display:none;
}

.modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	background: white; 
	width: 780px;
	height: 420px;
	z-index: 1000;
	background-color:rgba(255,255,255,0.9);
	padding: 40px;
	margin: 0 auto;
	-moz-box-shadow: 0 0 8px rgba(4,4,4,.3);
	-webkit-box-shadow: 0 0 8px rgba(4,4,4,.3);
	box-shadow: 0 0 8px rgba(4,4,4,.3);
	margin: -210px 0 0 -390px;
}

.modal h3 {
	margin: 0;
	margin-bottom: 20px;
	font-size: 16px;
	color: #111;
}

#modal-contact p, #modal-about p, #modal-documentation {
	font-size: 14px;
	color: #666666;
	line-height: 1.6;
}

/* Landing Page */

#border {
	height: 10px;
	background: #111;

	-webkit-transition: 1s all ease-in-out;
	-moz-transition: 1s all ease-in-out;
	-ms-transition: 1s all ease-in-out;
	-o-transition: 1s all ease-in-out;
	transition: 1s all ease-in-out;
}

img#main-logo {
	height: 250px;
	margin-top: 250px;
}

ul#language-select {
	font-size: 26px;
	list-style: none;
	margin: 60px 0 0 0;
	padding: 0;
}

.language {
	display: inline;
	margin: 0 50px 0 0;
}

li.language a {
	color: #a6a6a6;
}

li.language a:hover {
	color: #111;
}

#landing-wrapper {
	text-align: center;
	overflow: auto;
	background-color: white;
	height: 100%;
	text-align: center;
	margin: 0 auto;
	border-style: solid;
	border-width: 0;
	border-color: #e2e2e2;
}

/* Form */

#contact {
	margin-top: 20px;
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
	position: relative; /* For absolute positioning within */
}

#contact input, #contact textarea {
	background-color: rgba(0,0,0,0);
	border: 1px solid #666666;
	color: #111;
	font-size: 14px;
	height: 40px;
	box-sizing: border-box;
	padding-left: 10px;
}

.invalid {
	border: 1px solid #c6000d !important;
}

#contact input:focus, #contact textarea:focus {
	outline: none;
	border-color: #111;
}

#contact input {
	margin-bottom: 20px;
	width: 340px;
}

#contact textarea {
	float: right;
	width: 340px;
	height: 160px;
	resize: none;
	padding: 10px;
}

#contact input[type="button"] {
	width: 80px;
	background: #111;
	height: 40px;
	color: white;
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
	float: right;
	margin-top: 15px;
}

#notification {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 50px;
	color: #111;
	font-size: 16px;
}

::-webkit-input-placeholder {
   color: #a3a3a3;
   font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
   color: #a3a3a3;  
   font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #a3a3a3;  
   font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
}

:-ms-input-placeholder {  
   color: #a3a3a3;  
   font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
	   (-o-min-device-pixel-ratio: 5/4),
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}